* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./Assets/img/bachground.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}  

// start nav 
nav {
    background-color: none;
    display: flex;
    justify-content: space-between;
    padding: 15px 60px;
    width: 50%;
    align-items: center;
    margin: 0 auto;
    border-bottom: 1px solid black;

    ul {
        display: flex;
        list-style: none;
        align-items: center;

        li {
            display: flex;
            align-items: center;
            color: aliceblue;

            &:not(:last-child) {
                margin-right: 10px;
            }

            &.separator {
                margin: 0 10px;
            }

            a {
                text-decoration: none;
                color: aliceblue;
            }
        }
    }

    .searchs {
        display: flex;
        align-items: center;

        i {
            background-color: rgb(29, 28, 28);
            color: aliceblue;
            border-radius: 20px;
            padding: 5px;
            margin-right: 10px;
        }

        input {
            background-color: rgb(27, 24, 24);
            border: none;
            padding: 2px;
            width: 120px;
            height: 25px;
            border-radius: 20px;
            color: aliceblue;
            outline: none;
        }
    }
    .menu {
        color: aliceblue;
        display: none;
    }
}

// start main 
main {
    .img {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        img {
            width: 170px;
            height: 165px;
            display: flex;
            margin-top: 100px;
            border-radius: 200px;
        }

        p {
            color: rgb(0, 0, 0);
            margin-top: 5px;
        }


    }

    .button {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 25px;

        p {
            font-size: x-large;
            color: rgb(8, 8, 8);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        button {
            background-color: rgb(17, 16, 16);
            color: aliceblue;
            padding: 7px;
            margin-top: 7px;
            margin-bottom: 80px;
            border: none;
            border-radius: 15px;
        }
    }

    .mainBox {
        display: flex;
        align-items: center;
        justify-content: center;
        .box {
            margin-bottom: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgb(241, 243, 243);
            flex-direction: column;
            padding: 10px 5px; 
            margin: 20px;
            width: 260px;
            border-radius: 10px;
            img {
                width: 150px;
                height: 100px;
                padding: 0;
                border-radius: 5px;
            }
    
            i {
                display: flex;
                width: 100%;
            }

            h2 {
                display: flex;
                width: 100%;
            }
        }
    }

 



}


@media (max-width:1024px) {
    nav {
        padding: 2px 30px;
        .links {
            display: flex;
        }

        a {
            font-size: small;
        }

        .searchs {
            font-size: small;
            margin-right: 7px;

            input {
                width: 70px;
                padding: 1px;
            }
        }
    }
}
@media(max-width:750px) {
    nav {
        padding: 2px 30px;
        .links {
            display: none;
        }

        a {
            font-size: small;
        }

        .searchs {
            font-size: small;

            input {
                width: 70px;
                padding: 1px;
            }
        }

        .menu {
        display: flex;
        }
    }
}
